<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>10.0.0.124:9992</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>DEV1</MSDeployServiceURL>
    <DeployIisAppPath>GMCINVENTORY_TESTING</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CoreDB" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVELOPER-5\SYSTEMSTESTING;Initial Catalog=DB_CORE;User ID=sa;Password=123Blue*;Network Library=dbmssocn" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CoreDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= DB_CORE;User ID=sa;Password=123Blue*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItemLocationEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GMCINVENTORYSYSTEM.ItemLocationEntities, GMCINVENTORYSYSTEM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RoleEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GMCINVENTORYSYSTEM.RoleEntities, GMCINVENTORYSYSTEM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DB_COREConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEV1\SQLEXPRESSDEV1;Initial Catalog=DB_CORE;User ID=spark;Password=123Blue*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DB_COREConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DEV1\SQLEXPRESSDEV1;Initial Catalog=DB_CORE;User ID=spark;Password=123Blue*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CoreDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DB_COREConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ItemLocationEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RoleEntities-Web.config Connection String" />
  </ItemGroup>
</Project>